





  <div class="gallery">
    {{!-- <h1>AUTHOR: {{author}}</h1>
    <h2>LINK: {{link}}</h2> --}}
    <img src="{{link}}" alt="">
    {{!-- <h3>{{description}}</h3> --}}
    <div id="description">
      {{description}}
    </div>
    {{!-- <h3>ID: {{id}}</h3> --}}
   
    <a href="/gallery/{{id}}/edit">edit</a>
  </div>

  